
.navbar-brand {
    font-family: 'Codystar', cursive;
    font-size: 220%;
}
.nav-item {
    font-family: 'Sacramento', cursive;
    font-size: 180%
}

.navbar {
    background-color: rgba(251, 247, 255, .65)
}


.picture-content {
    margin-top: -90px;
    padding-top: 10rem;
    padding-bottom: calc(10rem - 156px);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.alexis-comment {
    width: 30%;
    float: left;
    padding: 10px;
    margin-left: 30px;
    background-color: rgba(57, 229, 235, 0.65);
    color: white;
}


body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Prata', serif;
}
#resume-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);

}